<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
<script>
var config = {
	apiKey: "AAAARNrad8o:APA91bHkxG8dPMF-thCRkh_nZzCu9JDfEjvsQjuD7woRFtYBTM-RI7xrcq2bwW1RUv9jIIolZyPTRh2b9Rbe48jmDpd7yndpgkNvZqzkIAvddC027VdzmhMdDLvZPMsaEzRTztbSMO3z",
	authDomain: "https://mandobi-d0b9f.firebaseio.com",
	databaseURL: "",
	storageBucket: "mandobi-d0b9f.appspot.com",
	messagingSenderId: "/topics/FCM-5e270ee52a85906ffe7bda4e1579618021"
};
firebase.initializeApp(config);

</script>
